opera-stream-consumer-ha/src/main/mule/connect-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:websocket="http://www.mulesoft.org/schema/mule/websocket"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/websocket http://www.mulesoft.org/schema/mule/websocket/current/mule-websocket.xsd">

    <!--
      Fetches an OAuth token per Oracle's client-credentials flow. Redacts the token value from logs
      (only expires_in is logged) since access_token is a secret.
    -->
    <sub-flow name="fetch-oauth-token-subflow" doc:name="Fetch OAuth Token">
        <!-- ${secure::...} resolved into variables here; DataWeave/p() do not resolve the secure:: prefix. -->
        <!-- The x-app-key header value IS the Application Key (one OHIP credential); same ohip.appKey used raw here and SHA-256-hashed for the ?key= handshake param below. -->
        <set-variable variableName="xAppKey" value="${secure::ohip.appKey}" doc:name="Load x-app-key (secure)" doc:description="Load the x-app-key credential" />
        <set-variable variableName="enterpriseId" value="${secure::ohip.enterpriseId}" doc:name="Load enterpriseId (secure)" doc:description="Load the enterprise ID credential" />
        <http:request method="POST" path="/oauth/v1/tokens" config-ref="ohip-oauth-http-config" doc:id="oauth-token-request" doc:name="POST /oauth/v1/tokens" doc:description="Request a fresh OAuth token from Opera">
            <http:body><![CDATA[#[
                "grant_type=client_credentials&scope=" ++ p('ohip.oauthScope')
            ]]]></http:body>
            <http:headers><![CDATA[#[{
                "x-app-key": vars.xAppKey,
                "Content-Type": "application/x-www-form-urlencoded"
            } ++ (if (isEmpty(vars.enterpriseId)) {} else {"enterpriseId": vars.enterpriseId})]]]></http:headers>
        </http:request>
        <ee:transform doc:id="extract-token-fields" doc:name="Extract token fields" doc:description="Pull the access token and expiry out of the response">
            <ee:variables>
                <ee:set-variable variableName="accessToken"><![CDATA[%dw 2.0
output application/java
---
payload.access_token]]></ee:set-variable>
                <ee:set-variable variableName="tokenExpiresIn"><![CDATA[%dw 2.0
output application/java
---
payload.expires_in]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Log token obtained (redacted)" doc:description="Confirm a token was issued, without exposing it"
                message="OAuth token obtained (expires_in=#[vars.tokenExpiresIn]s); token value redacted" />
        <os:store key="'token-expires-at-epoch-ms'" objectStore="tokenStateOs" doc:name="Store token expiry (cross-flow, for proactive refresh)" doc:description="Save when the token will expire">
            <os:value><![CDATA[#[(now() as Number {unit: 'milliseconds'}) + (vars.tokenExpiresIn as Number * 1000)]]]></os:value>
        </os:store>
    </sub-flow>

    <!--
      Shared connect-subflow: fetch token, open the Stream socket, send connection_init. Reused by the
      tracer bullet, the reconnect state machine, and proactive token refresh.
    -->
    <sub-flow name="connect-subflow" doc:name="Connect Subflow">
        <!--
          Mark connect in-progress up front. connect-subflow only writes 'current-socket-id' at the very end
          (after connection_init), so without this marker a scheduler firing mid-connect sees "no socket" and
          launches a SECOND connect - which OHIP rejects with the Single-Consumer Lock (4409) and force-closes
          the in-flight socket. The startup/reconnect guards skip while this marker is set. Always cleared in
          the error handler so a failed connect can't wedge the marker on.
        -->
        <os:store key="'connect-in-progress'" objectStore="currentSocketOs" doc:name="Mark connect in-progress" doc:description="Flag that a connection attempt is underway">
            <os:value><![CDATA[#[true]]]></os:value>
        </os:store>
        <try doc:name="Connect (clear in-progress marker on any outcome)" doc:description="Run the connect steps, clearing the in-progress flag either way">
        <flow-ref name="fetch-oauth-token-subflow" doc:name="Fetch OAuth Token" doc:description="Get a fresh OAuth token" />
        <set-variable variableName="appKey" value="${secure::ohip.appKey}" doc:name="Load Application Key (secure)" doc:description="Load the Application Key credential" />
        <!--
          dw::Crypto::hashWith takes Binary and returns Binary (raw digest bytes), NOT a hex string.
          Oracle's ?key= requires lowercase hex, so coerce input to Binary, hash, hex-encode, lowercase -
          exactly what the built-in Crypto::SHA1/MD5 helpers do internally (toHex(content hashWith ...)).
        -->
        <set-variable variableName="appKeyHash" value="#[lower(dw::core::Binaries::toHex(dw::Crypto::hashWith(vars.appKey as Binary, 'SHA-256')))]" doc:name="Hash Application Key (SHA-256 -> lowercase hex)" doc:description="Hash the Application Key for the socket URL" />
        <set-variable variableName="subscriptionId" value="#[uuid()]" doc:name="Set subscription id" doc:description="Generate a unique subscription ID" />
        <os:contains key="'offset-record'" objectStore="offsetStateOs" target="hasOffsetRecord" doc:name="Has stored Offset record?" doc:description="Check whether a saved Offset exists" />
        <choice doc:name="Load Offset record if present" doc:description="Resume from a saved Offset, or start fresh">
            <when expression="#[vars.hasOffsetRecord]" doc:description="A saved Offset exists, so load it to resume from where we left off">
                <os:retrieve key="'offset-record'" objectStore="offsetStateOs" target="offsetRecord" doc:id="offset-record-retrieve" doc:name="Retrieve Offset record" doc:description="Load the last saved Offset" />
            </when>
            <otherwise>
                <set-variable variableName="offsetRecord" value="#[null]" doc:name="No Offset record (first run)" doc:description="Mark this as a first-time connection" />
            </otherwise>
        </choice>
        <ee:transform doc:id="resolve-subscribe-input-transform" doc:name="Resolve gap-based subscribe input" doc:description="Build the subscribe payload from the Offset">
            <ee:variables>
                <ee:set-variable variableName="subscribeInput" resource="dw/resolve-subscribe-input.dwl" />
            </ee:variables>
        </ee:transform>
        <choice doc:name="Warn if Offset expired (&gt;7d gap)" doc:description="Flag an Offset that's too old to safely resume from">
            <when expression="#[vars.hasOffsetRecord and (not (vars.subscribeInput.offset?))
                                and (((now() as Number {unit: 'milliseconds'}) - (vars.offsetRecord.lastConnectedAt as DateTime as Number {unit: 'milliseconds'})) &gt; (7 * 24 * 60 * 60 * 1000))]"
                  doc:description="Stored Offset is older than 7 days, so warn that events were likely missed">
                <logger level="WARN" doc:name="Log Offset expired" doc:description="Warn that events were likely missed"
                        message="Offset expired (gap &gt;7d since lastConnectedAt=#[vars.offsetRecord.lastConnectedAt]); Business Events were likely missed. Subscribing fresh." />
            </when>
        </choice>
        <!--
          Persist subscription id + resolved subscribe input BEFORE opening the socket. The connection_ack
          that triggers the subscribe is handled in a SEPARATE flow (ohip-stream-intake-flow) whose event has
          its own empty vars, so these must be shared via the object store, not flow vars. Stored pre-open so
          they're guaranteed available by the time connection_ack arrives.
        -->
        <os:store key="'subscription-id'" objectStore="currentSocketOs" doc:name="Store subscription id (cross-flow)" doc:description="Share the subscription ID with other flows">
            <os:value><![CDATA[#[vars.subscriptionId]]]></os:value>
        </os:store>
        <os:store key="'subscribe-input'" objectStore="currentSocketOs" doc:name="Store subscribe input (cross-flow)" doc:description="Share the subscribe payload with other flows">
            <os:value><![CDATA[#[vars.subscribeInput]]]></os:value>
        </os:store>
        <websocket:open-outbound-socket path="/subscriptions" config-ref="ohip-stream-ws-config" socketId="ohip-stream"
                                         target="streamSocketAttributes" targetValue="#[attributes]"
                                         doc:name="Open Stream WebSocket" doc:description="Open the connection to Opera's event stream">
            <websocket:query-params><![CDATA[#[{key: vars.appKeyHash}]]]></websocket:query-params>
        </websocket:open-outbound-socket>
        <logger level="INFO" doc:name="Log WebSocket opened" doc:description="Confirm the Stream socket is open"
                message="WebSocket opened (socketId=#[vars.streamSocketAttributes.socketId]); sending connection_init" />
        <!--
          Frame content uses an `output application/json` script (the connector's own JSON-send idiom, see
          its ws-send-config.xml test), not the write() function. write() returns a String, which the content
          binding then re-serializes to JSON, double-encoding the frame into a quoted string the server
          cannot parse (observed against the simulator as type=undefined then a 4408 init timeout).
        -->
        <websocket:send socketId="#[vars.streamSocketAttributes.socketId]" config-ref="ohip-stream-ws-config" doc:name="Send connection_init" doc:description="Authenticate the new socket connection">
            <websocket:content><![CDATA[#[output application/json --- {
                'type': "connection_init",
                payload: {
                    Authorization: "Bearer " ++ vars.accessToken,
                    "x-app-key": vars.appKey
                }
            }]]]></websocket:content>
        </websocket:send>
        <os:store key="'current-socket-id'" objectStore="currentSocketOs" doc:name="Store current socket id (cross-flow)" doc:description="Record the live socket ID">
            <os:value><![CDATA[#[vars.streamSocketAttributes.socketId]]]></os:value>
        </os:store>
            <!--
              A successful connect - by ANY caller (startup, reconnect-scheduler-flow, or an HA takeover) -
              makes any previously scheduled reconnect moot: we're already live on a fresh socket, so
              reconnect-scheduler-flow must not fire it later. Without this, a reconnect queued by an earlier
              (now-irrelevant) socket close was observed firing ~15s after an HA takeover had already
              succeeded, force-closing the newly won/subscribed socket via the connector's same-socketId
              replacement and restarting the whole HA cycle. Guarded: only reconnect-scheduler-flow's own
              success path used to clear these, so a connect triggered by any other caller left them stale.
            -->
            <os:contains key="'reconnect-pending'" objectStore="reconnectStateOs" target="hadReconnectPending" doc:name="Reconnect was pending?" doc:description="Was an older reconnect queued before this connect succeeded" />
            <choice doc:name="Clear stale reconnect-pending if present"><when expression="#[vars.hadReconnectPending]" doc:description="This connect supersedes it, so clear the queued reconnect"><os:remove key="'reconnect-pending'" objectStore="reconnectStateOs" doc:name="Clear reconnect-pending (superseded)" doc:description="No longer needed; we just connected" /></when></choice>
            <os:contains key="'reconnect-not-before-epoch-ms'" objectStore="reconnectStateOs" target="hadReconnectNotBefore" doc:name="Reconnect timestamp was set?" doc:description="Was a retry time recorded before this connect succeeded" />
            <choice doc:name="Clear stale reconnect-not-before if present"><when expression="#[vars.hadReconnectNotBefore]" doc:description="This connect supersedes it, so clear the retry timestamp"><os:remove key="'reconnect-not-before-epoch-ms'" objectStore="reconnectStateOs" doc:name="Clear reconnect-not-before-epoch-ms (superseded)" doc:description="No longer needed; we just connected" /></when></choice>
            <!-- Clear the marker as the LAST step of the success path (inside the try). -->
            <os:remove key="'connect-in-progress'" objectStore="currentSocketOs" doc:name="Clear connect in-progress (success)" doc:description="Clear the connecting flag now that we're live" />
            <error-handler>
                <on-error-continue doc:name="Clear in-progress marker on failure" doc:description="Clean up the connecting flag after a failed attempt">
                    <os:remove key="'connect-in-progress'" objectStore="currentSocketOs" doc:name="Clear connect in-progress (failure)" doc:description="Clear the connecting flag" />
                    <!--
                      If this connect attempt was a scheduled HA takeover (ha-failover-controller-flow sets
                      ha-takeover-inflight before calling connect-subflow), and it fails before a socket ever
                      opens, no connection_ack will ever arrive to consume the marker. Clear it here so the
                      NEXT unrelated connect doesn't get misrouted into a blind subscribe.
                    -->
                    <os:contains key="'ha-takeover-inflight'" objectStore="haStateOs" target="hadTakeoverInflight" doc:name="Takeover inflight?" doc:description="Was a takeover marker set for this failed attempt" />
                    <choice doc:name="Clear ha-takeover-inflight if present"><when expression="#[vars.hadTakeoverInflight]" doc:description="Connect failed before an ack could consume the marker, so clear it"><os:remove key="'ha-takeover-inflight'" objectStore="haStateOs" doc:name="Clear ha-takeover-inflight" doc:description="Stale after failed connect" /></when></choice>
                    <logger level="WARN" doc:name="Log connect failure" doc:description="Log why the connect attempt failed" message="connect-subflow failed: #[error.description]" />
                </on-error-continue>
            </error-handler>
        </try>
    </sub-flow>

    <!--
      Reusable "acquire the stream" send. The caller must set vars.socketId to the live socket first.
      Retrieves the subscription id + resolved subscribe input stashed by connect-subflow, builds the
      newEvent subscribe frame, and sends it. THIS send is what acquires OHIP's Single-Consumer Lock:
      exactly one instance's subscribe wins; any other instance's subscribe is rejected with 4409.
      Extracted so BOTH the non-HA connection_ack path (subscribe immediately) and the HA takeover path
      (subscribe only after a status check says Inactive, ha-failover-flow.xml) use identical logic.
    -->
    <sub-flow name="send-event-subscribe-subflow" doc:name="Send Event Subscribe">
        <os:retrieve key="'subscription-id'" objectStore="currentSocketOs" target="subscriptionId" doc:name="Retrieve subscription id" doc:description="Load the subscription ID for this connection" />
        <os:retrieve key="'subscribe-input'" objectStore="currentSocketOs" target="subscribeInput" doc:id="subscribe-input-retrieve" doc:name="Retrieve subscribe input" doc:description="Load the subscribe payload for this connection" />
        <ee:transform doc:id="build-subscribe-frame-transform" doc:name="Build subscribe frame" doc:description="Build the subscribe request frame">
            <ee:message>
                <ee:set-payload resource="dw/subscribe-frame.dwl" />
            </ee:message>
        </ee:transform>
        <!-- payload is already application/json (from subscribe-frame.dwl); send verbatim, no re-encode. -->
        <websocket:send socketId="#[vars.socketId]" config-ref="ohip-stream-ws-config" doc:name="Send subscribe" doc:description="Subscribe to Opera Business Events">
            <websocket:content>#[payload]</websocket:content>
        </websocket:send>
        <!--
          HA: mark ourselves active OPTIMISTICALLY, right after sending subscribe - not only when the first
          Business Event arrives (the ohip-stream-intake-flow 'next' handler also sets this). A sandbox with
          sparse events can go a full ohip.ha.statusPollIntervalMs with a WON subscription but zero events;
          without this, ha-failover-controller-flow still believes it's passive and re-sends the
          connection-status query on THIS SAME live socket, and OHIP was observed closing that socket in
          response - destroying a subscription we already won, forever, every poll interval. Self-corrects if
          this send actually LOST the race: OHIP then closes the socket with 4409, and
          ohip-on-socket-closed-flow unconditionally clears ha-subscribed on any close, so a false-positive
          mark here never survives past that round trip. Gated on ha.enabled since haStateOs is HA-only.
        -->
        <choice doc:name="Mark HA active if in HA mode" doc:description="Only relevant when HA is enabled">
            <when expression="#[p('ohip.ha.enabled') == 'true']" doc:description="HA mode, so optimistically mark this instance active">
                <os:store key="'ha-subscribed'" objectStore="haStateOs" doc:name="Mark HA active (optimistic, post-subscribe)" doc:description="Assume we hold the stream until proven otherwise by a 4409 close">
                    <os:value><![CDATA[#[true]]]></os:value>
                </os:store>
            </when>
        </choice>
    </sub-flow>

    <!--
      Startup / self-heal connect: opens the Stream on deploy, and re-opens if the socket is ever gone
      without a pending reconnect (belt-and-braces alongside reconnect-flow.xml). A short startDelay lets
      all configs initialize first. Guarded by currentSocketOs so it never opens a second Stream while one
      is live (which OHIP would reject with the Single-Consumer Lock, 4409).

      HA: this flow is INERT when ohip.ha.enabled=true. Under HA the ha-failover-flow.xml controller owns
      connect + status-probe + subscribe, so a blind startup connect (which would subscribe on ack and grab
      the lock unconditionally) is exactly the behavior HA replaces. With ha.enabled=false this flow behaves
      identically to the base opera-stream-consumer producer.
    -->
    <flow name="ohip-startup-connect-flow" maxConcurrency="1" doc:name="OHIP Startup Connect">
        <scheduler doc:name="Ensure connected" doc:description="Check every 30 seconds that the stream is connected">
            <scheduling-strategy>
                <fixed-frequency frequency="30000" startDelay="2000" />
            </scheduling-strategy>
        </scheduler>
        <os:contains key="'current-socket-id'" objectStore="currentSocketOs" target="hasSocket" doc:name="Has live socket?" doc:description="Check for an active socket" />
        <os:contains key="'connect-in-progress'" objectStore="currentSocketOs" target="connecting" doc:name="Connect already in progress?" doc:description="Check if a connect attempt is already running" />
        <os:contains key="'reconnect-pending'" objectStore="reconnectStateOs" target="hasPending" doc:name="Reconnect already pending?" doc:description="Check if a reconnect is already scheduled" />
        <choice doc:name="Connect if idle (and NOT in HA mode)" doc:description="Connect only when nothing else is already trying to, and HA is off">
            <when expression="#[(p('ohip.ha.enabled') != 'true') and not vars.hasSocket and not vars.connecting and not vars.hasPending]" doc:description="Non-HA mode and nothing connected, so open the stream on startup">
                <logger level="INFO" doc:name="Startup connecting" doc:description="Log that startup is opening a new connection" message="No live Stream and no pending reconnect; connecting." />
                <flow-ref name="connect-subflow" doc:name="connect-subflow" doc:description="Open the connection" />
            </when>
        </choice>
    </flow>

    <!--
      Ordered, single-threaded intake per Oracle's single-consumer processing rule (maxConcurrency="1").
      Routes each frame by its graphql-transport-ws "type".
    -->
    <flow name="ohip-stream-intake-flow" maxConcurrency="1" doc:name="OHIP Stream Intake">
        <websocket:outbound-listener path="/subscriptions" config-ref="ohip-stream-ws-config" doc:id="stream-frame-listener" doc:name="On Stream Frame" doc:description="Trigger on Opera event" outputMimeType="application/json"/>
        <!-- The socket id comes from the source's own attributes; flow vars from connect-subflow are NOT in scope here. -->
        <set-variable variableName="socketId" value="#[attributes.socketId]" doc:name="Capture socket id from source" doc:description="Note which socket this frame came from" />
        <choice doc:name="Route by frame type" doc:description="Handle the frame differently based on its type">
            <when expression="#[payload.'type' == 'connection_ack']" doc:description="Server accepted the connection, so decide whether to probe status or subscribe">
                <choice doc:name="HA? probe status before subscribing" doc:description="In HA mode check connection status first; otherwise subscribe immediately">
                    <!--
                      HA MODE: do NOT subscribe on ack. Per Oracle sec.7, first run the connection-status
                      query; the ha-failover-flow controller decides whether/when to send the event subscribe
                      based on the response. This is what keeps a standby passive while the peer is active.
                    -->
                    <when expression="#[p('ohip.ha.enabled') == 'true']" doc:description="HA mode, so run the connection-status query instead of subscribing immediately">
                        <!--
                          This socket may be either a passive status probe OR a fresh connect opened to EXECUTE
                          a due takeover (ha-failover-controller-flow, case (a)) - the takeover no longer reuses
                          the old probe socket (OHIP was closing it before the jittered delay elapsed; see
                          ha-failover-flow.xml). ha-takeover-inflight (set right before that connect-subflow call)
                          tells us which one this is.
                        -->
                        <os:contains key="'ha-takeover-inflight'" objectStore="haStateOs" target="isTakeoverConnect" doc:name="Is this the takeover connect?" doc:description="Distinguish a takeover connect from a routine probe" />
                        <choice doc:name="Takeover connect? subscribe now : probe status" doc:description="A takeover connect goes straight to subscribe; a routine probe checks status first">
                            <when expression="#[vars.isTakeoverConnect]" doc:description="This socket was opened to execute a due takeover, so subscribe immediately">
                                <os:remove key="'ha-takeover-inflight'" objectStore="haStateOs" doc:name="Consume takeover-inflight marker" doc:description="One-shot: this ack is the takeover's own connect" />
                                <logger level="INFO" doc:name="Log ack (HA takeover)" doc:description="Ack received on the takeover's own connect; subscribing now" message="connection_ack received (HA takeover connect); sending subscribe." />
                                <flow-ref name="send-event-subscribe-subflow" doc:name="Send Event Subscribe" doc:description="Attempt to acquire the Single-Consumer Lock" />
                            </when>
                            <otherwise>
                                <logger level="INFO" doc:name="Log ack (HA)" doc:description="Ack received; probing connection status" message="connection_ack received (HA mode); sending connection-status query." />
                                <flow-ref name="ha-send-status-query-subflow" doc:name="Send connection-status query" doc:description="Ask OHIP whether the stream is already held" />
                            </otherwise>
                        </choice>
                    </when>
                    <otherwise>
                        <logger level="INFO" doc:name="Log connection_ack" doc:description="Log that Opera accepted the connection" message="connection_ack received; sending subscribe" />
                        <flow-ref name="send-event-subscribe-subflow" doc:name="Send Event Subscribe" doc:description="Subscribe to Business Events immediately (non-HA)" />
                    </otherwise>
                </choice>
            </when>
            <!--
              HA connection-status response. OHIP returns the status query result as a `next` frame carrying
              payload.data.connection (NOT data.newEvent, which is a Business Event). Matched BEFORE the
              Business-Event branch so a status response is never mistaken for an event. Delegates the
              Active/Inactive decision + jittered takeover to ha-failover-flow.xml's handle-status-subflow.
            -->
            <when expression="#[payload.'type' == 'next' and (payload.payload.data.connection?)]" doc:description="This is a connection-status response, so decide whether to take over">
                <set-variable variableName="connectionStatus" value="#[payload.payload.data.connection.status]" doc:name="Capture connection status" doc:description="Active or Inactive" />
                <logger level="INFO" doc:name="Log connection status" doc:description="Log the status OHIP reported"
                        message="Connection status = #[vars.connectionStatus] (id=#[payload.payload.data.connection.id default 'n/a'])." />
                <flow-ref name="ha-handle-status-subflow" doc:name="Handle connection status" doc:description="Decide whether to take over the stream" />
            </when>
            <when expression="#[payload.'type' == 'next']" doc:description="This is a Business Event, so publish it and checkpoint the Offset">
                <set-variable variableName="businessEvent" value="#[payload.payload.data.newEvent]" doc:name="Capture Business Event" doc:description="Pull the Business Event out of the frame" mimeType="application/json"/>
                <!--
                  HA: receiving a real Business Event proves THIS instance won the subscribe and holds the
                  stream. Mark ourselves active so ha-failover-flow stops probing/attempting takeover. Cleared
                  when the socket closes (ohip-on-socket-closed-flow). Costs one local (non-persistent) write.
                -->
                <os:store key="'ha-subscribed'" objectStore="haStateOs" doc:name="Mark HA active (holds stream)" doc:description="This instance is the active consumer">
                    <os:value><![CDATA[#[true]]]></os:value>
                </os:store>
                <logger level="INFO" doc:name="Log Business Event" doc:description="Log the event name and offset received"
                        message='Business Event received: Event Name=#[vars.businessEvent.eventName] offset=#[vars.businessEvent.metadata.offset]' />
                <!--
                  Commit the Offset on durable enqueue, not on backend processing. Publish first,
                  then store - a buffered-but-unprocessed event survives a crash because it already lives in
                  Anypoint MQ, so this ordering does not risk event loss. Offset stored as an opaque String
                  (never parsed as a Number - it can overflow and doesn't reliably progress by +1).
                -->
                <!--
                  ORCHESTRATION MODE: publishes to a STANDARD queue, not FIFO. Under orchestration the consumer
                  re-fetches current resource state on every event, so message ORDER no longer affects correctness
                  (a stale/reordered event just re-reads the same latest state). We therefore drop messageGroupId
                  (a FIFO-only param - meaningless on a standard queue) and gain standard-queue throughput, which
                  Oracle/our optimization notes flag as the single biggest throughput win. See the design notes.
                  messageId=uniqueEventId is KEPT: it costs nothing and lets the consumer optionally skip a
                  redundant REST fetch for a duplicate (dedup is now an optimization, not a correctness guarantee).
                  For the strict-order/dedup design that used a FIFO exchange, see branch: exactly-once-ordered.
                -->
                <anypoint-mq:publish destination="${ohip.mq.destination}" config-ref="ohip-mq-config"
                    doc:name="Publish Business Event to Anypoint MQ" doc:description="Hand the event off to Anypoint MQ" messageId="#[vars.businessEvent.metadata.uniqueEventId]">
                    <anypoint-mq:body>#[write(vars.businessEvent, "application/json")]</anypoint-mq:body>
                </anypoint-mq:publish>
                <!--
                  Checkpoint the Offset PERIODICALLY (every ohip.offset.persistEveryNEvents events), not per
                  event. The per-event write to the persistent (OSv2, remote) store was the throughput ceiling on
                  this maxConcurrency=1 path - a network hop, serialized, once per Business Event. The event is
                  already durably in Anypoint MQ (published above), so a crash between checkpoints never loses
                  events: it replays from the last checkpointed Offset, and the <=N-event overlap is tolerated by
                  the consumer's idempotent current-state upsert (re-applying the latest state is a no-op).
                  messageId=uniqueEventId only preserves an optional dedup hook, not a correctness requirement.
                  The counter lives in the in-memory (non-persistent) store, so
                  the per-event cost is a local read+write, not a network round-trip. Set persistEveryNEvents=1 to
                  restore per-event durability. Offset still stored as an opaque String.
                -->
                <os:retrieve key="'events-since-persist'" objectStore="currentSocketOs" target="eventsSincePersist" doc:id="events-since-persist-retrieve" doc:name="Load events-since-persist counter" doc:description="Events seen since the last durable checkpoint">
                    <os:default-value><![CDATA[#[0]]]></os:default-value>
                </os:retrieve>
                <choice doc:name="Checkpoint Offset every N events" doc:description="Flush the Offset to durable storage on the Nth event">
                    <when expression="#[(vars.eventsSincePersist + 1) &gt;= (p('ohip.offset.persistEveryNEvents') as Number)]" doc:description="Nth event reached, so durably checkpoint the Offset and reset the counter">
                        <os:store key="'offset-record'" objectStore="offsetStateOs" doc:name="Checkpoint Offset + uniqueEventId + lastConnectedAt" doc:description="Durably save the Offset now that N events are queued">
                            <os:value><![CDATA[#[{
                                offset: vars.businessEvent.metadata.offset as String,
                                uniqueEventId: vars.businessEvent.metadata.uniqueEventId as String,
                                lastConnectedAt: now() as String
                            }]]]></os:value>
                        </os:store>
                        <os:store key="'events-since-persist'" objectStore="currentSocketOs" doc:name="Reset checkpoint counter" doc:description="Reset the since-checkpoint counter">
                            <os:value><![CDATA[#[0]]]></os:value>
                        </os:store>
                    </when>
                    <otherwise>
                        <os:store key="'events-since-persist'" objectStore="currentSocketOs" doc:name="Increment checkpoint counter" doc:description="Count this event toward the next checkpoint">
                            <os:value><![CDATA[#[vars.eventsSincePersist + 1]]]></os:value>
                        </os:store>
                    </otherwise>
                </choice>
            </when>
            <when expression="#[payload.'type' == 'ping']" doc:description="Server sent a keepalive ping, so reply with a pong">
                <!--
                  Server-initiated ping/pong is separate from our own client-initiated ping (keepalive-flow.xml).
                  Backpressure note: during high-volume bursts a delayed pong is NOT proof the connection is
                  dead - continued "next" frames are proof of life. No missed-pong timeout is implemented here.
                -->
                <websocket:send socketId="#[vars.socketId]" config-ref="ohip-stream-ws-config" doc:name="Reply pong" doc:description="Reply to Opera's keepalive ping">
                    <websocket:content>#[output application/json --- {'type': "pong"}]</websocket:content>
                </websocket:send>
            </when>
            <otherwise>
                <logger level="DEBUG" doc:name="Log ignored frame" doc:description="Log any frame type we don't act on" message="Ignored frame type: #[payload.'type']" />
            </otherwise>
        </choice>
    </flow>

</mule>
