opera-stream-consumer-ha/src/main/mule/reconnect-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:websocket="http://www.mulesoft.org/schema/mule/websocket"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/websocket http://www.mulesoft.org/schema/mule/websocket/current/mule-websocket.xsd">

    <!--
     We call getOriginalCode() via the Java module on the raw enum BEFORE that coercion, then route on the resulting int.
    -->
    <flow name="ohip-on-socket-closed-flow" maxConcurrency="1" doc:name="OHIP On Socket Closed">
        <websocket:on-socket-closed path="/subscriptions" config-ref="ohip-stream-ws-config" doc:id="socket-closed-listener" doc:name="On Socket Closed" doc:description="Trigger when Opera closes the connection" />
        <java:invoke doc:name="Read numeric close code"
                     instance="#[payload.code]"
                     class="org.mule.runtime.http.api.ws.WebSocketCloseCode"
                     method="getOriginalCode()"
                     target="closeCode" doc:description="Reads the Opera provided socket close code"/>
        <!-- Guarded remove: on-socket-closed can fire for a socket that never wrote current-socket-id
             (e.g. one rejected by the Single-Consumer Lock), so an unconditional remove throws OS:KEY_NOT_FOUND. -->
        <os:contains key="'current-socket-id'" objectStore="currentSocketOs" target="hasCurrentSocket" doc:name="Has current socket id?" doc:description="Check whether this socket was the tracked one" />
        <choice doc:name="Clear current socket id if present" doc:description="Clear the tracked socket only if it was this one">
            <when expression="#[vars.hasCurrentSocket]" doc:description="This closed socket was the tracked one, so clear the stored socket id">
                <os:remove key="'current-socket-id'" objectStore="currentSocketOs" doc:name="Clear current socket id" doc:description="Remove the now-dead socket ID" />
            </when>
        </choice>
        <!--
          HA: the socket that just closed carried our status probe and/or our live subscription, so all
          HA state keyed to it is now stale. Clearing ha-subscribed re-arms the failover poller to probe
          and (re)take over; clearing current-socket-id and ha-takeover-inflight avoids acting on the dead
          socket. All guarded (os:remove throws OS:KEY_NOT_FOUND on a missing key).
        -->
        <os:contains key="'ha-subscribed'" objectStore="haStateOs" target="hadHaSubscribed" doc:name="Was HA-active?" doc:description="Did this instance hold the stream" />
        <choice doc:name="Clear ha-subscribed if present"><when expression="#[vars.hadHaSubscribed]" doc:description="We held the stream, so clear the flag to re-arm the failover poller"><os:remove key="'ha-subscribed'" objectStore="haStateOs" doc:name="Clear ha-subscribed" doc:description="No longer holding the stream" /></when></choice>
        <!--
          ha-takeover-not-before is deliberately NOT cleared here. It is a wall-clock deadline ("earliest
          time this instance may try to acquire the lock"), not state tied to this particular socket - OHIP
          was observed closing the status-probe socket ~20-400ms after the status reply, i.e. almost always
          BEFORE the jittered delay elapses. Clearing it on every socket close cancelled the scheduled
          takeover before ha-failover-controller-flow ever got a chance to act on it, which was the actual
          cause of an endless probe/close churn under HA that never reached a takeover attempt. The only
          things that should cancel a scheduled takeover are: it firing (ha-failover-flow.xml case (a)
          removes it), or status going back to Active (ha-handle-status-subflow's otherwise branch removes
          it) - both already handled elsewhere.
        -->
        <os:contains key="'ha-takeover-inflight'" objectStore="haStateOs" target="hadTakeoverInflight" doc:name="Was a takeover connect inflight?" doc:description="Did this socket belong to a takeover attempt that never reached connection_ack" />
        <choice doc:name="Clear ha-takeover-inflight if present"><when expression="#[vars.hadTakeoverInflight]" doc:description="The takeover's connect socket died before its ack could subscribe, so clear the marker"><os:remove key="'ha-takeover-inflight'" objectStore="haStateOs" doc:name="Clear ha-takeover-inflight" doc:description="Stale after socket drop; the next poll tick will reschedule the takeover" /></when></choice>
        <os:contains key="'offset-record'" objectStore="offsetStateOs" target="hasOffsetRecord" doc:name="Has stored Offset record?" doc:description="Check for a saved Offset" />
        <choice doc:name="Update lastConnectedAt if record exists" doc:description="Record when the connection last dropped">
            <when expression="#[vars.hasOffsetRecord]" doc:description="A saved Offset exists, so stamp it with the disconnect time">
                <os:retrieve key="'offset-record'" objectStore="offsetStateOs" target="offsetRecord" doc:id="offset-record-retrieve-reconnect" doc:name="Retrieve Offset record" doc:description="Load the saved Offset" />
                <os:store key="'offset-record'" objectStore="offsetStateOs" doc:name="Update lastConnectedAt only" doc:description="Timestamp the disconnect">
                    <os:value><![CDATA[#[vars.offsetRecord ++ {lastConnectedAt: now() as String}]]]></os:value>
                </os:store>
            </when>
        </choice>
        <!--
          This handler only classifies the close; it never schedules a reconnect. ha-failover-controller-flow
          re-probes/reconnects on its own poll cadence whenever this instance is passive with no socket
          (case (b)); an active holder that drops its socket becomes passive too (ha-subscribed was cleared
          above), so the SAME controller tick picks it back up.
        -->
        <choice doc:name="Route by close code (originalCode)" doc:description="Classify why the socket closed; only 4403 changes app state">
            <when expression="#[vars.closeCode == 4403]" doc:description="Chain not enabled / bad chainCode - a config problem, so halt and stop probing">
                <logger level="ERROR" doc:name="Log 4403 halt" doc:description="Log a fatal configuration error and stop retrying"
                        message="Chain not enabled / bad chainCode (4403) - halting, this is a configuration problem. Not retrying." />
                <os:store key="'halted'" objectStore="haStateOs" doc:name="Set halted flag" doc:description="Stop the controller from probing again until restarted/redeployed with a fixed config">
                    <os:value><![CDATA[#[true]]]></os:value>
                </os:store>
            </when>
            <when expression="#[vars.closeCode == 4409]" doc:description="Another consumer holds the lock; log only, controller re-probes and sees Active">
                <logger level="INFO" doc:name="Log 4409" doc:description="Log that another consumer already holds the connection"
                        message="Single-Consumer Lock held (4409); controller will see Active and stand down on its next re-probe." />
            </when>
            <when expression="#[vars.closeCode == 4401]" doc:description="Token expired/invalid; log only, connect-subflow fetches a fresh token on the next probe">
                <logger level="INFO" doc:name="Log 4401" doc:description="Log that the token expired" message="Token expired/invalid (4401); controller will fetch a fresh token on its next probe/reconnect." />
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Log routine close" doc:description="Log any other close code (4504, 1006, 1000/1001, etc.)"
                        message="Close code #[vars.closeCode]; controller re-probes on its next poll tick." />
            </otherwise>
        </choice>
    </flow>

</mule>
