opera-stream-consumer-ha/src/main/mule/token-refresh-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:websocket="http://www.mulesoft.org/schema/mule/websocket"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/websocket http://www.mulesoft.org/schema/mule/websocket/current/mule-websocket.xsd">

    <!--
      Refreshes the OAuth token before it expires so the Stream reconnects gracefully instead of hitting a
      4401. Sends complete, then reuses the HA controller's own not-before gate to honor the 10s minimum
      gap between complete and the next subscribe. Clearing ha-subscribed makes this instance passive
      again; ha-failover-controller-flow's case (a) waits until ha-takeover-not-before elapses, then
      reconnects with a fresh token (connect-subflow re-checks the cache, which is empty/near-expiry here
      since the old token is about to die).
      Safety net if this proactive refresh is ever missed: the token dies, OHIP closes with 4401, and the
      controller simply re-probes on its next tick - connect-subflow fetches a fresh token then. This
      scheduler handles the expected (proactive) case.
    -->
    <flow name="proactive-token-refresh-scheduler-flow" maxConcurrency="1" doc:name="Proactive Token Refresh Scheduler">
        <scheduler doc:name="Every 30s" doc:description="Check every 30 seconds if the token is about to expire">
            <scheduling-strategy>
                <fixed-frequency frequency="${ohip.tokenRefresh.checkIntervalMs}" />
            </scheduling-strategy>
        </scheduler>
        <os:contains key="'token-expires-at-epoch-ms'" objectStore="tokenStateOs" target="hasExpiry" doc:name="Has token expiry?" doc:description="Check whether a token expiry is being tracked" />
        <choice doc:name="If expiry tracked and due" doc:description="Only act if the token's expiry is known">
            <when expression="#[vars.hasExpiry]" doc:description="We know when the current token expires, so check whether it's time to refresh">
                <os:retrieve key="'token-expires-at-epoch-ms'" objectStore="tokenStateOs" target="expiresAtEpochMs" doc:name="Retrieve token expiry" doc:description="Load when the token expires" />
                <choice doc:name="If within lead time of expiry" doc:description="Refresh only once the token is close to expiring">
                    <when expression="#[(now() as Number {unit: 'milliseconds'}) &gt;= (vars.expiresAtEpochMs - (p('ohip.tokenRefresh.leadTimeMs') as Number))]" doc:description="Token is within its lead time of expiring, so start a proactive refresh">
                        <os:remove key="'token-expires-at-epoch-ms'" objectStore="tokenStateOs" doc:name="Clear token expiry (avoid re-triggering)" doc:description="Clear the expiry so this doesn't refire" />
                        <!--
                          Only the ACTIVE HOLDER refreshes. A passive standby also tracks token-expires-at-epoch-ms
                          and would otherwise fire here every token lifetime: it holds only a probe socket, so it
                          would send a `complete` for a subscription it never made and then try to clear an
                          ha-subscribed that was never set (OS:KEY_NOT_FOUND). Gating on ha-subscribed skips all
                          of that - a standby just re-fetches lazily on its next probe connect (connect-subflow's
                          cache check). We still confirm a live socket before sending complete.
                        -->
                        <os:contains key="'ha-subscribed'" objectStore="haStateOs" target="isHolder" doc:name="Do we hold the stream?" doc:description="Only the active holder has a subscription to complete" />
                        <os:contains key="'current-socket-id'" objectStore="currentSocketOs" target="hasSocket" doc:name="Has current socket?" doc:description="Check for an active socket" />
                        <choice doc:name="If we hold the stream on a live socket" doc:description="Only the holder completes + hands off; standbys skip">
                            <when expression="#[vars.isHolder and vars.hasSocket]" doc:description="We hold the stream on a live socket, so gracefully complete it and hand off to the controller with a fresh token">
                                <os:retrieve key="'current-socket-id'" objectStore="currentSocketOs" target="socketId" doc:name="Retrieve current socket id" doc:description="Load the active socket ID" />
                                <!-- subscription id is cross-flow state; read from the store (flow vars are empty in this scheduler event). -->
                                <os:retrieve key="'subscription-id'" objectStore="currentSocketOs" target="subscriptionId" doc:name="Retrieve subscription id" doc:description="Load the active subscription ID" />
                                <logger level="INFO" doc:name="Log proactive refresh" doc:description="Log that the token is about to expire and a refresh is starting"
                                        message="Token nearing expiry; sending complete and scheduling refresh+reconnect." />
                                <websocket:send socketId="#[vars.socketId]" config-ref="ohip-stream-ws-config" doc:name="Send complete" doc:description="Gracefully end the current subscription">
                                    <websocket:content>#[output application/json --- {id: vars.subscriptionId, 'type': "complete"}]</websocket:content>
                                </websocket:send>
                                <!--
                                  Hand off to the controller's not-before gate: clear ha-subscribed so this
                                  instance is passive again, and set ha-takeover-not-before 10s out so
                                  ha-failover-controller-flow's case (a) won't reconnect/resubscribe before the
                                  Oracle-mandated gap elapses.
                                  Guarded remove: the `complete` we just sent makes OHIP close the socket, which
                                  fires ohip-on-socket-closed-flow - it also clears ha-subscribed and can win the
                                  race, so an unconditional remove here would throw OS:KEY_NOT_FOUND.
                                -->
                                <os:contains key="'ha-subscribed'" objectStore="haStateOs" target="stillHolder" doc:name="Still holding?" doc:description="Guard against on-socket-closed clearing it first" />
                                <choice doc:name="Clear ha-subscribed if still present"><when expression="#[vars.stillHolder]" doc:description="Still set, so clear it - we sent complete and no longer hold the stream"><os:remove key="'ha-subscribed'" objectStore="haStateOs" doc:name="Clear ha-subscribed" doc:description="We just sent complete; we no longer hold the stream" /></when></choice>
                                <os:store key="'ha-takeover-not-before'" objectStore="haStateOs" doc:name="Set takeover not-before (10s gap)" doc:description="Earliest time the controller may resubscribe">
                                    <os:value><![CDATA[#[(now() as Number {unit: 'milliseconds'}) + (p('ohip.tokenRefresh.completeToSubscribeGapMs') as Number)]]]></os:value>
                                </os:store>
                            </when>
                        </choice>
                    </when>
                </choice>
            </when>
        </choice>
    </flow>

</mule>
